html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Jost', sans-serif;
	width: 100vh;
	min-width: 100%;
	position: relative;
}

header {
	text-align: center;
	width: 100%;
}

h1, h2, h3 {
	margin:0;
	padding:0;
}

h1{
	font-weight: 200;
	font-size: 35px;
	line-height: 100px;
	top: 20px;
	width: 100%;
	padding-top: 10px;
}

h2{
	font-weight: 300;
	font-size: 35px;
	line-height: 100px;
	padding-left: 10vw;
	padding-top: 10px;
	position: relative;
	color: #E0001E;
	width: 100%;
}

h5 {
	font-weight: 200;
	line-height: 100%;
	font-size: 22px;
}

figure {
	position: relative;
	margin:0;
	padding:0;
	font-size: 14.5px;
	line-height: 24px;
	font-family: 'Jost', sans-serif;
	font-weight: 300;
	margin-bottom: 20px;
}

art-title {
	position: relative;
	font-weight: 400;
}

p a {
	color: #AD0017;
	font-weight: 500;
	text-decoration: none;
}

p a:hover {
	color: lightpink;
}

link-style{
	color: #AD0017;
	font-weight: 500;
	text-decoration: none;
}

#main-1 {
	animation: fadeIn ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0% { opacity:0; }
    100% { opacity:1; }
}

#main-2 {
	animation: fadeInDelay ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInDelay{
    0% { opacity:0; }
    20% { opacity:0; }
    100% { opacity:1; }
}

#main-3 {
	animation: fadeInMoreDelay ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInMoreDelay{
    0% { opacity:0; }
    40% { opacity:0; }
    100% { opacity:1; }
}

#main-covers, #illustration, #drawing, #art {
	display: block;
	position: relative;
	min-height: 100vh;
	width: 100vw;
	padding-bottom: 20px;
}

#illustration {
	background-color: seashell;
}

#drawing {
	background-color: ghostwhite;
}

#art {
	background-color: floralwhite;
	padding-bottom: 50px;
}

#drawing h2 {
	color: #0975B9;
}

#art h2 {
	color: #A16363;
}

#illustration-link {
	margin-top: 20px;
}

#illustration-link:hover {
	color: #AD0017;
}

#drawing-link:hover {
	color: #065789;
}

#art-link:hover {
	color: #794949;
}

.illustration, .drawing, .art {
	display: block;
	position: relative;
	min-height: 100vh;
	width: 100vw;
	padding-bottom: 30px;

}

.illustration {
	background-color: seashell;
}

.drawing {
	background-color: ghostwhite;
}

.art {
	background-color: floralwhite;
}

.drawing h2 {
	color: #0975B9;
}

.art h2 {
	color: #A16363;
}

.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 20px; /* Stay at the top */
	padding-left: 30px;
	padding-right: 30px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  color: #818181;
  text-align: center;
	font-weight: 300;
	font-size: 14px;
}

.photo-caption {
	margin-top: 10px;
	text-align: center;
}

.photo-caption a {
	color: #AD0017;
	font-weight: 500;
	text-decoration: none;
}

.sidebar-links a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  line-height: 32px;
	padding-left: 10px;
	padding-bottom: 10px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: black;
}

.indented {
	padding-left: 10vw;
	padding-right: 2vw;
	padding-top: 10px;
	margin: 0;
}

.description {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-left: 150px;
	font-weight: 300;
	font-size: 15px;
	width: 85%;
	margin-bottom: 30px;
}

.description-float {
	font-weight: 300;
	font-size: 14.5px;
	margin-bottom: 30px;
}

.cover, .three-by-four, .glow-img, .single-image, .full-height {
	width: 100%;
	height: auto;
	object-fit: contain;
	object-position: left;
}

.cover {
	max-height: 300px;
	max-width: 400px;
}

.preview {
	margin-bottom: 24px;
}

.square {
	max-width: 300px;
}

.three-by-four {
	max-height: 1200px;
	max-width: 1600px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.glow-img {
	max-height: 800px;
	max-width: none;
	margin-bottom: 10px;
}

.single-image {
	margin-bottom: 10px;
	margin-right: 10px;
	max-height: 530px;
	max-width: 400px;
}

.full-height {
	max-height: 1600px;
	margin-bottom: 10px;
}

.tall {
	max-height: 800px;
	max-width: none;
	margin-bottom: 60px;
}

.overflow-height {
	width: 100%;
	height: auto;
	object-fit: cover;
	max-height: 2000px;
	margin-bottom: 10px;
}

.overlay {
	position: relative;
}

.overlay:hover .three-by-four {
	opacity: 0.2;
}

.overlay:hover .cover {
	opacity: 0.2;
}

.overlay:hover .title {
	transition: .7s ease;
	opacity: 1;
}

.overlay:hover .light {
	opacity: 0.12;
}

.overlay:hover .medium {
	opacity: 0.4 ;
}

.overlay:hover .dark {
	opacity: 0.6 ;
}

.overlay:hover .extra-dark {
	opacity: 0.8 ;
}

.overlay:hover .dramatic {
	transition: 1.6s ease;
	opacity: 1;
}

.title {
  /*transition: .5s ease;*/
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay{
	text-decoration: none;
}

.main-title {
  /*transition: .5s ease;*/
  opacity: 0;
}

.main-title span {
    position: absolute;
    top: 100%;
    white-space: nowrap;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.overlay:hover .main-title {
	transition: 1s ease;
	opacity: 1;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.myImg {
  cursor: pointer;
}

.myImg:hover {
	opacity: 0.2;
}

.three-by-four:hover {
	opacity: 0.2;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.text, .text-grey, .text-black {
	font-size: 28px;
	font-weight: 300;
	text-decoration: none;
}

.text {
	color: white;
}

.text-grey {
	color: black;
	opacity: 0.6;
}

.text-black {
	color: black;
}

.text-dramatic {
	color: black;
	font-size: 24px;
	font-weight: 300;
	opacity: 0.6;
}

#profile{
	height: 70px;
}

#profile:hover{
	/*transition: .5s ease;*/
	opacity:0.6;
}

#photo {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
}

#about-me-page {
	width: 100vw;
	min-height: 100vh;
}

#about-me {
	font-weight: 400;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color: dimgrey;
	margin-top: 30px;
	padding-bottom: 50px;
}

#about-header {
	text-align: center;
	margin:0;
	padding:0;
	width: 100vw;
}


@media (min-height: 1000px) {

	#profile {
			height: 143px;
			padding-top: 10px;
			padding-bottom: 10px;
	}

	#main-covers {
		margin: 0 auto;
	}

	#photo {
		margin-top: 50px;
	}

	h1 {
		font-size: 75px;
		padding-top: 40px;
	}

	h2, #about-header {
		font-size: 75px;
		text-align: center;
		padding-left: 0;
		padding-top: 40px;
	}

	.container-fluid {
		max-width: 100vw;
		margin: auto;
	}

	.indented {
		margin-top: 5vh;
		padding-top: 0px;
		margin-left: auto;
		margin-right: auto;
	}

	.sidebar-links {
		margin-top: 40px;
		margin-right: 100px;
	}

	.cover {
		max-height: 600px;
		max-width: 800px;
	}

	.square {
		max-width: 600px;
	}

	.three-by-four {
		max-height: 1000px;
		max-width: 750px;
	}

	.single-image {
		max-height: 1060px;
		max-width: 800px;
	}

	.overflow-height {
		max-height: 2400px;
	}

	.tall {
		max-height: 1200px;
	}

	.description {
		width: 100%;
		max-width: 2000px;
		padding-right: 50px;
		padding-top: 20px;
		font-size: 16px;
		margin: auto;
	}

	.description-float {
		font-size: 16px;
	}

}

@media (max-width: 1000px) {

	h1{
		font-size:30px;
	}

	header{
		text-align: center;
	}

	.text, .text-black, .text-grey {
		font-size: 22px;
	}

	.text-dramatic {
		font-size: 20px;
	}

}

@media (max-width: 650px) {
	h1{
		font-size:28px;
	}

	h2{
		font-size:28px;
	}

	header{
		text-align: left;
		padding-left: 150px;
	}

	.sidenav{
		padding-left: 20px;
	}

}

@media (max-width: 425px) {

	body {
		width: 100vw;
	}

	header{
		text-align: left;
		width: 100%;
		padding-left: 100px;
	}

	h1{
		font-size:28px;
		line-height:100px;
	}

	h2{
		font-size:28px;
		padding-left: 100px;
		width: 100%;
	}

	#profile {
			height: 70px;
			padding-top: 10px;
			padding-bottom: 10px;
	}

	#main-covers, #illustration, #drawing, #art {
		width: 100vw;
		max-width: 425px;
	}

	#art {
		padding-bottom: 30px;
	}

	#photo {
		height: 175px;
	}

	#about-header {
		text-align: center;
		margin:0;
		padding:0;
		width: 100%;
	}

	#about-me {
		position: relative;
		display: block;
		padding-left: 100px;
		margin: 0;
		width: 88%;
		font-size: 15px;
		padding-bottom: 50px;
		color: dimgrey;
		margin-top: 30px;
	}

	#illustration-link {
		margin-top: 5px;
	}

	.indented {
		padding-left: 100px;
		padding-top: 0px;
	}

	.main {
		width: 100vw;
		max-width: 425px;
	}

	.sidebar-links a {
	  font-size: 14px;
	  line-height: 28px;
		padding-bottom: 10px;
	}

	.description {
		padding-left: 100px;
	}

	.description-float {
		padding-bottom: 30px;
		margin-right: 0;
		padding-right: 0;
		max-width: 300px;
	}

}

@media (max-width: 350px) {
	h1{
		font-size:28px;
		line-height:100px;
	}
}


@media (max-height: 425px) {

	.description-float {
		width: 100%;
	}

	.still-life-text {
		max-width: 300px;
	}

	.single-image {
		width: 275px;
	}

	.sidenav {
		max-height: 100vh;
		padding-left: 20px;
	}

	.indented {
		padding-top: 0px;
	}

	#illustration-link {
		margin-top: 0px;
	}

	h2{
		font-size:28px;
		padding-left: 100px;
		width: 100%;
	}

}
