html{
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Jost', sans-serif;
	width: 100vh;
	min-width: 100%;
	position: relative;
}

header{
	text-align: center;
	width: 100%;
}

h1{
	font-weight: 100;
	font-style: normal;
	font-size:70px;
	line-height:100px;
	margin:0;
	padding:0;
	top: 20px;
	width: 100%;
}

h2{
	font-weight: 300;
	font-style: normal;
	font-size:50px;
	line-height:100px;
	margin:0;
	padding:0;
	padding-left: 150px;
	position: relative;
	color: #E0001E;
	width: 100%;
}

h5 {
	font-weight: 200;
	line-height:100%;
	font-size:22px;
	margin:0;
	padding:0;
}

figure {
	position: relative;
	margin:0;
	padding:0;
	font-size: 14.5px;
	line-height: 24px;
	font-family: 'Jost', sans-serif;
	font-weight: 300;
	margin-bottom: 20px;
}

art-title {
	position: relative;
	font-weight: 400;
}

p a {
	color: #AD0017;
	font-weight: 500;
	text-decoration: none;
}

p a:hover {
	color: lightpink;
}

link-style{
	color: #AD0017;
	font-weight: 500;
	text-decoration: none;
}

#main-covers, #illustration, #drawing, #painting {
	display: block;
	position: relative;
	min-height: 100vh;
	width: 100vw;
	padding-bottom: 20px;
}

#illustration {
	background-color: seashell;
}

#drawing {
	background-color: ghostwhite;
}

#painting {
	background-color: floralwhite;
	padding-bottom: 50px;
}

#painting h2{
	color: #A16363;
}

#illustration-link:hover{
	color: #AD0017;
}

#drawing-link:hover{
	color: #065789;
}

#painting-link:hover{
	color: #794949;
}

.illustration, .drawing, .painting {
	padding-bottom: 30px;
}

.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 20px; /* Stay at the top */
	padding-left: 20px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  color: #818181;
  text-align: center;
	font-weight: 300;
	font-size: 14px;
}

.photo-caption {
	margin-top: 10px;
	text-align: center;
}

.photo-caption a {
	color: #AD0017;
	font-weight: 500;
	text-decoration: none;
}

.sidebar-links a {
  /*padding: 1px 1px 1px 32px;*/
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  line-height: 36px;
	padding-bottom: 10px;
  color: #818181;
  display: block;
  /*transition: 0.3s;*/
}

.sidenav a:hover {
  color: black;
}

.indented {
	padding-left: 150px;
	padding-right: 50px;
	margin: 0;
	padding-bottom: 0px;
}

.description {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-left: 150px;
	font-weight: 300;
	font-size: 15px;
	width: 85%;
	padding-bottom: 50px;
}

.description-float {
	font-weight: 300;
	font-size: 14.5px;
	margin-bottom: 25px;
}

.img-description-container {
	position: relative;
	max-width: 100vw;
	max-height: 100vh;
	margin: 5px 50px 0 150px;
	width: 100%;
}

.glow-img {
	max-height: none;
	object-fit: contain;
	object-position: left;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.single-figure {
	max-height: 450px;
	width: 30%;
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
	position: relative;
}

.vote-page {
	width: 25%;
}

.still-life-page {
	width: 27%;
}

.single-image {
	width: 100%;
	height: auto;
	object-fit: contain;
	object-position: left;
	margin-bottom: 10px;
	margin-right: 10px;
	max-height: 530px;
	max-width: 400px;
}

.cover {
	max-height: 300px;
	max-width: 400px;
	width: 100%;
	height: auto;
	object-fit: contain;
	object-position: left;
}

.tall {
	max-height: 495px;
	max-width: none;
	margin-bottom: 60px;
	bottom: 0;
}

.square {
	max-width: 300px;
}

.preview {
	margin-bottom: 24px;
}

.three-by-four {
	max-height: 500px;
	max-width: 375px;
	width: 100%;
	height: auto;
	object-fit: contain;
	object-position: left;
	margin-bottom: 10px;
	margin-right: 10px;
}

.full-height {
	max-height: 550px;
	width: 100%;
	height: auto;
	object-fit: contain;
	object-position: left;
}

.tall-height {
	max-height: 735px;
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-top: 90px;
}

.extra-tall {
	max-height: 800px;
}

.overflow-height {
	width: 100%;
	height: auto;
	object-fit: cover;
	max-height: 2000px;
	margin-bottom: 10px;
}

.overlay {
	position: relative;
}

.overlay:hover .three-by-four {
	opacity: 0.2;
}

.overlay:hover .cover {
	opacity: 0.2;
}

.overlay:hover .title {
	transition: .7s ease;
	opacity: 1;
}

.overlay:hover .light {
	opacity: 0.12;
}

.overlay:hover .medium {
	opacity: 0.4 ;
}

.overlay:hover .dark {
	opacity: 0.6 ;
}

.goverlay:hover .extra-dark {
	opacity: 0.8 ;
}

.overlay:hover .title {
	transition: .7s ease;
	opacity: 1;
}

.overlay:hover .dramatic {
	transition: 1.6s ease;
	opacity: 1;
}

.title {
  /*transition: .5s ease;*/
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.myImg {
  cursor: pointer;
}

.myImg:hover {
	opacity: 0.2;
}

.three-by-four:hover {
	opacity: 0.2;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.text {
	color: white;
	font-size: 32px;
	font-weight: 300;
}

.text-dramatic {
	color: black;
	font-size: 24px;
	font-weight: 300;
	opacity: 0.6;
}

.text-black {
	color: black;
	font-size: 32px;
	font-weight: 300;
}

.text-grey {
	color: black;
	font-size: 32px;
	font-weight: 300;
	opacity: 0.6;
}

.scroll-container {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.pink-backdrop {
	background-color: seashell;
}

.illustration {
	display: block;
	background-color: seashell;
	position: relative;
	min-width: 100vw;
	min-height: 100vh;
}

.long-page {
	display: block;
	background-color: seashell;
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
}

.drawing {
	top: 0px;
	width: 100%;
	display: block;
	background-color: ghostwhite;
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	scroll-snap-align: start;
}

.packaging {
	display: block;
	background-color: seashell;
	position: relative;
	min-height: 100vh;
	width: 100vw;
}

#floral-background {
	background-image: url("../images/floral.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  opacity: 0.03;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.drawing h2{
	color: #0975B9;
	/*background-color: #818181;*/
}

#drawing h2{
	color: #0975B9;
	/*background-color: #818181;*/
}

.painting {
	display: block;
	position: relative;
	background-color: floralwhite;
	min-height: 100vh;
	width: 100vw;
}



.painting h2{
	color: #A16363;
}

#profile{
	height: 70px;
}

#profile:hover{
	/*transition: .5s ease;*/
	opacity:0.6;
}

#photo {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
}

#about-me-page {
	width: 100vw;
	min-height: 100vh;
}

#about-me {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color: dimgrey;
	margin-top: 30px;
	padding-bottom: 50px;
}

#about-header {
	text-align: center;
	margin:0;
	padding:0;
	width: 100vw;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.viewport-container {
	min-height: 85vh;
	position: relative;
}

.viewport-section-2 {
	min-height: 90vh;
	position: relative;
}

.content-wrap {
	margin: 0 auto;
	padding: 20px 150px;
}

.packaging-text {
	padding-top: 700px;
}

@media (min-height: 1000px) {
	#main-covers {
		margin: 0 auto;
	}

	h2{
		font-size: 75px;
		text-align: center;
		padding-left: 0;
		padding-top: 25px;
	}

	.indented {
		margin-top: 5vh;
	}

	.overflow-height {
		max-height: 2400px;
	}

	.tall-height{
		max-height: 880px;
	}

	.description {
		margin-left: auto;
		margin-right: auto;
		max-width: 1600px;
		padding-top: 20px;
		font-size: 16px;
	}

	.description-float {
		font-size: 16px;
	}

}

@media (max-width: 1000px) {

	.full-height {
		float: left;
	}

	.tall-height{
		margin-top: 20px;
	}

	#painting{
		max-height: none;
	}

	#drawing{
		max-height: none;
	}

	h1{
		font-size:60px;
	}

	header{
		text-align: center;
	}

	.text, .text-black, .text-grey {
		font-size: 22px;
	}

	.text-dramatic {
		font-size: 20px;
	}

}

@media (max-width: 650px) {
	h1{
		font-size:50px;
	}

	h2{
		font-size:40px;
	}

	header{
		text-align: left;
		padding-left: 150px;
	}

}

@media (max-width: 425px) {

	.indented {
		padding-left: 100px;
	}

	.sidenav {
		position: fixed;
	}

	#profile {
			height: 70px;
			padding-top: 10px;
			padding-bottom: 10px;
	}

	.main {
		width: 100vw;
		max-width: 425px;
	}

	.sidebar-links a {
	  font-size: 16px;
	  line-height: 20px;
		padding-bottom: 10px;
	}

	.description {
		padding-left: 100px;
	}

	.description-float {
		padding-bottom: 30px;
		margin-right: 0;
		padding-right: 0;
		max-width: 300px;
	}

	.single-figure {
		float: none;
		width: 80%;
		margin-right: 0;
	}

	.vote-page {
		margin-right: 0;
	}

	.img-description-container{
		margin-left: 100px;
		max-height: 200vh;
		margin-right: 0;
		max-width: 70vw;
	}

	.viewport-section-2 {
		max-height: 500vh;
		position: relative;
		padding-bottom: 50px;
	}

	.illustration, .drawing {
		padding-bottom: 30px;
	}

	body {
		width: 100vw;
	}

	#main-covers{
		width: 100vw;
	}

	#illustration {
		max-height: none;
		width: 100vw;
		max-width: 425px;
	}

	#drawing {
		max-height: none;
		width: 100vw;
		max-width: 425px;
	}

	#painting {
		width: 100vw;
		max-height: none;
		padding-bottom: 30px;
	}

	#photo {
		height: 175px;
	}

	#about-header {
		text-align: center;
		margin:0;
		padding:0;
		width: 100%;
	}

	#about-me {
		position: relative;
		display: block;
		padding-left: 100px;
		margin: 0;
		width: 88%;
		font-size: 15px;
		padding-bottom: 50px;
		color: dimgrey;
		margin-top: 30px;
	}

	.viewport-section-2 {
		min-height: 100vh;
	}

	.tall-height {
		padding-bottom: 30px;
	}

	.waterfall {
		bottom: 72px;
		top: auto;
	}

	.drawing, .painting, .illustration {
		min-height: 100vh;
		max-height: none;
		padding-bottom: 30px;
	}

	header{
		text-align: left;
		width: 100%;
		padding-left: 100px;
	}

	h1{
		font-size:40px;
		line-height:100px;
	}

	h2{
		font-size:35px;
		padding-left: 100px;
		width: 100%;
	}
}

@media (max-width: 350px) {
	h1{
		font-size:30px;
		line-height:100px;
	}
}


@media (max-height: 425px) {

	#drawing{
		max-height: none;
	}

	#painting{
		max-height: none;
		padding-bottom: 50px;
	}

	#about-me-page, .viewport-section-2 {
		max-height: 500vh;
	}

	.packaging {
		max-height: 900vh;
	}

	.final-paragraph {
		padding-bottom: 30px;
	}

	.long-page {
		max-height: 800vh;
	}

	.tall-height{
		padding-bottom: 30px;
	}

	.img-description-container {
		max-height: 350vh;
		max-width: 325px;
		padding: 0px;
		margin-right: 0px;
	}

	.description-float {
		width: 100%;
	}

	.single-figure {
		width: 60%;
	}

	.main {
		max-height: 300vh;
	}

	.still-life-text {
		max-width: 300px;
	}

	.single-image {
		width: 275px;
	}

	.sidenav {
		max-height: 100vh;
	}

	.drawing, .painting, .illustration {
		min-height: 100vh;
		max-height: none;
		padding-bottom: 30px;
	}

	h2{
		font-size:30px;
		padding-left: 100px;
		width: 100%;
	}

}

@media (max-width: 800px)
	and (min-width: 426px){

	.img-description-container{
		margin-left: 150px;
		max-height: 200vh;
		margin-right: 0;
		max-width: 80vw;
		max-height: 600vh;
		padding-bottom: 30px;
	}

	.single-figure {
		float: none;
		width: 50%;
		max-height: 200vh;
	}

	.description {
		padding-bottom: 50px;
	}

}

@media (max-width: 425px)
	and (min-height: 426px) {

	h2 {
		font-size: 30px;
	}
}
